/* LOGO */
.app__logo img{
    height: 96px;
    width: 195px;
}

/* BOTON INSTRUCCIONES DE USO */
.main__button{
    width: 180px;

    background-color: #73B060;

    margin: 10px 15px 0 0;
    padding: 15px 0;
    border: none;
    border-radius: 13px;

    font-size: 12px;
    font-weight: 700;
    color: #fff;

    cursor: pointer;
}

.button--active{
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.button--hover{
    transition: transform 0.2s ease;
}

.main__button:active {
    transform: translateY(2px);
    box-shadow: 0 2px 0 #73B060;
}

.main__button:hover{
    transform: scale(1.1);
}

/* CONTENEDOR DE TITULO Y SUBTITULO */

.app__title h1{
    margin: 0 0 20px 0;
}

.app__title p{
    width: 76%;
    margin-bottom: 20px;

    text-align: center;
}

/* CONTENEDOR DE HIPERVINCULO */
.app__main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: auto;
    min-height: 438px;
    width: 83%;
    max-width: 950px;

    margin-bottom: 30px;
    padding: 0 52px 0 60px;

    border-radius: 28px;

    background-color: #FFF;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);

}

.main__link-container{
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 200px));
    justify-content: space-evenly;
    justify-items: center;
   
    width: 100%;

    margin-top: 30px;
    margin-bottom: 65px;
}

/* HIPERVINCULO */
.main__link{
    height: 134.391px;
    width: 100px;

    margin: 25px 0;
    margin-bottom: 35px;

    background-color: transparent;
}

.main__link a{
    display: block;
    background-color: #F5F7FA;

    height: 104px;
    width: 100px;
    
    padding-top: 15px;
    border-radius: 21px;
    
    text-decoration: none;
    text-align: center;
    font-size: 64px;
    font-weight: 500;
    color: #44ADE2;

}

.link--transition-acive{
    transition: transform 0.1s ease, box-shadow 0.1s ease;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.link--transition-hover{
    transition: transform 0.2s ease;
}

.main__link a:active {
    transform: translateY(2px);
    box-shadow: 0 2px 0 #F5F7FA;
}

.main__link a:hover{
    transform: scale(1.1);
}

.main__link p{
    margin-top: 12px;
    text-align: center;

    font-weight: 700;   
    color: #666;
}