.app__title h1{
    margin: 0 0 20px 0;
}

.app__title p{
    width: 76%;
    margin-bottom: 60px;

    
    text-align: center;
}

.question-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 500px;
    width: 100%;
    /* background-color: red; */
}

.question{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 71px;
    width: 90%;
    max-width: 1000px;

    border-radius: 15px;

    margin-bottom: 20px ;


    background-color: #fff;
}

.question__title{
    width: 100%;

    font-size: 20px;
    font-weight: 600;
    margin-left: 35px;

}

.question__body{
    display: none;
    background-color: red;
}

.question--big{
    display: block;
    height: auto;
    min-height: 71px;
    background-color: red;
}

.dropdown-container {
    width: 95%;
    min-width: 645px;
    max-width: 1290px;
    border-radius: 15px;
    margin-bottom: 20px;
    /* overflow: hidden; */
    font-family: Arial, sans-serif;
  }

  .dropdown-title {
    background-color: white;
    padding: 10px 15px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    padding: 25px 0 25px 35px;
    transition: max-height 3.5s ease, padding 0.5s ease;

  }

  .dropdown-title:hover {
    background-color: #c1c1c1;
  }

  .no-hover:hover {
    transform: none !important;
    transition: none !important;
}

  .dropdown-body {
    display: none;
    /* padding: 10px 15px; */
    margin-top: 15px;
    padding: 25px 15px 10px 15px;
    background-color: #fff;
    border-radius: 15px;
    transition: opacity 1.5s ease;

    
  }

  .dropdown-container.active .dropdown-body {
    display: flex;
    flex-direction: column;
  
  }

  .dropdown-body p{
    margin-left: 20px;
    /* margin: 0 40px; */
    font-size: 16px;
    color: #666;
  }

  .dropdown-body img{
    width: auto;
    max-width: 625px;
    margin-top: 20px;
    margin-bottom: 35px;
    align-self: center;
    border: 1px solid #ccc;
  }

  .dropdown-title--borderRadiusFix{
    /* border-radius: 15px 15px 0 0; */
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .dropdown-body ol{
    margin: 0 80px;
  }


 
